attrdict
cffi
click
cryptography
enum34
Flask
Flask-Cache
gevent
greenlet
html2text
idna
ipaddress
itsdangerous
Jinja2
MarkupSafe
MySQL-python
Pillow
py4j
pyasn1
pycparser
PyJWT
redis
requests
simplejson
six
Werkzeug
wheel
captcha
qrcode
XlsxWriter
https://docs-aliyun.cn-hangzhou.oss.aliyun-inc.com/cn/oss/0.3.29/assets/sdk/OSS_Python_API_20151106.zip
raven
pycrypto
http://cdn.mysql.com//Downloads/Connector-Python/mysql-connector-python-2.1.3.tar.gz
pytest
pymongo
pytest-mock
